h3{ font-size: large;
    text-align: right;
}

:root {
    --cor-principal: #507197;
    --cor-secundaria: #284260;
    --cor-destaque: #a4a2fa;
  }

  body {
    font-family: "Chakra Petch", sans-serif;
    color: var(--cor-principal);
  }

  h1,
h2,
h5 {
  color: var(--cor-secundaria);
  font-weight: 700;
}

footer a {
    color: var(--cor-principal);
  }
  
  footer a:hover {
    color: var(--cor-destaque);
  }

  .lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
}

a, .btn-link:hover {
    color: var(--cor-principal)
}

a:hover{
    color: var(--cor-destaque);
}
